<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

DATA SCIENCE TOOLS AND ECOSYSTEM

In this Notebook, the tools used in the data science and that are taught in this tutorial are summarized

The most used languages in data science are:
1.PYTHON
2.R
3.SQL
4.SCALA
5.JAVA
6.JULIA

SOME OF THE COMMONLY USED LIBRARIES IN DATA SCIENCE ARE:
1.NUMPY
2.PANDAS
3.MATPLOTLIB
4.SEABORN
5.TENSORFLOW
6.SCIKIT-LEARN
7.SCIPY
8.PYTORCH

|DATA SCIENCE TOOLS|
|---|
|JUPITER NOTEBOOK|
|GITHUB|
|GOOGLE COLAB|
|APACHE SPARK|
|HADOOP|
|TENSORFLOW|
|ANACONDA|
|SPYDER|
|ZEPPELIN|

#A FEW EXAMPLES OF ARITHMETIC EXPRESSIONS ARE LISTED BELOW

In [3]:
#TO ADD AND SUBTRACT NUMBERS
4+5+9-3-4

11

In [4]:
#TO SMULTIPLY AND DIVIDE NUMBERS
5*6/7*9

38.57142857142857

In [9]:
#EXAMPLE TO MULTIPLY AND ADD NUMBERS
(4+8)*3

36

In [8]:
#CODECELL TO CONVERT MINUTES IN TO HOURS
MIN = 600
HRS = MIN/60
print(HRS)

10.0

_OBJECTIVES_
* LIST POPULAR PROGRAMMING LANGUAGES USED IN DATA SCIENCE
* LIST OUT POPULAR LIBRARIES USED IN DATA SCIENCE
* LIST OUT WELL KNOWN DATA SCIENCE TOOLS
* HOW TO PROVIDE COMMENTS IN THE CELL

AUTHOR

S HRUTHVIK